<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SeleniumProject_CRM" thread-count="4" parallel="classes"> <!-- Test Suite -->
    <test name="CRMActivities"> 
        <classes>
             <class name="crmtest.Activity1" />
             <class name="crmtest.Activity2" />
             <class name="crmtest.Activity3" />
             <class name="crmtest.Activity4" /> 
             <class name="crmtest.Activity5" />
             <class name="crmtest.Activity6" />
             <class name="crmtest.Activity7" />
             <class name="crmtest.Activity8" />
             <class name="crmtest.Activity9" />
        </classes>
    </test>
</suite>